<main>
  <section>
    <h3>Logger</h3>
    <button (click)="fbLogin()">Accedi con FB</button>
    <hr>
    <div class="user">
      <dl>
        <dt>Stato:</dt>
        <dd>{{currentState}}</dd>
        <dt>Access Token:</dt>
        <dd>{{accessToken}}</dd>
        <ng-container *ngIf="userFields">
          <ng-container *ngFor="let field of userFields">
            <dt>{{field}}:</dt>
            <dd>{{user[field]}}</dd>
          </ng-container>
        </ng-container>
      </dl>
    </div>
  </section>
</main>

